<?xml version="1.0"?>
<launch>
  <arg name="kinesis_video_stream_name"/>
  <arg name="kinesis_video_stream_region"/>
  <arg name="publish_to_kinesis_stream"/>
  <arg name="make_required"/>
  <arg name="racecar_name"/>

  <!-- launch virtual event kvs stream encoder -->
  <include file="$(find deepracer_simulation_environment)/launch/h264_video_encoder.launch" if="$(arg publish_to_kinesis_stream)">
    <arg name="config_file" value="$(find deepracer_simulation_environment)/config/racecar/deepracer_rpi_h264_encoder_config.yaml" />
    <arg name="image_transport" value="raw" />
    <arg name="racecar_name" value="$(arg racecar_name)" />
  </include>

  <!-- launch virtual event kvs hls stream -->
  <include file="$(find deepracer_simulation_environment)/launch/kinesis_video_streamer.launch" if="$(arg publish_to_kinesis_stream)">
    <arg name="node_config_file" value="$(find deepracer_simulation_environment)/config/deepracer_node_config.yaml" />
    <arg name="stream_config_file" value="$(find deepracer_simulation_environment)/config/racecar/deepracer_stream_config.yaml" />
    <arg name="kinesis_video_stream_name" value="$(arg kinesis_video_stream_name)" />
    <arg name="kinesis_video_stream_region" value="$(arg kinesis_video_stream_region)" />
    <arg name="racecar_name" value="$(arg racecar_name)" />
  </include>

<!-- webrtc message processor node to reading the incoming car control messages -->
  <node pkg="deepracer_simulation_environment" type="car_control_webrtc_msg_node.py" name="car_control_webrtc_node" output="screen" required="$(arg make_required)" args="$(arg racecar_name)"></node>

</launch>