pyparsing==2.4.7
annoy==1.8.3
boto3==1.9.23
bokeh==1.4.0
cryptography==3.2.1
colcon-common-extensions==0.2.1
colcon-cd==0.1.1
colcon-ros==0.3.13
colcon-ros-bundle==0.0.14
colcon-ros-bazel==0.0.1
colcon-bundle==0.0.19
colcon-python-setup-py==0.2.2
colcon-core==0.4.3
colcon-notification==0.2.10
colcon-output==0.2.6
colcon-parallel_executor==0.2.4
colcon-cmake==0.2.17
colcon-defaults==0.2.2
colcon-recursive-crawl==0.2.0
colcon-bazel==0.1.0
colcon-spawn-shell==0.2.0
colcon-metadata==0.2.3
colcon-mixin==0.1.6
colcon-lcov-result==0.2.0
colcon-devtools==0.2.2
colcon-package-selection==0.2.5
colcon-package-information==0.3.0
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colcon-powershell==0.3.6
colcon-bash==0.4.1
colcon-pkg-config==0.1.0
colcon-library-path==0.2.1
colcon-argcomplete==0.3.3
colcon-python-shell==0.0.1
docutils==0.15.2
future-fstrings==1.2.0
futures==3.1.1
h5py==2.10.0
protobuf==3.19.4
jsonschema==3.2.0
kubernetes==7.0.0
matplotlib==2.0.2
minio==4.0.5
numpy==1.14.5
off-your-rocker==0.1.0
rospkg==1.1.7
rl-coach-slim==1.0.0
redis==3.2.1
scipy==1.2.1
scikit-image==0.15.0
shapely==1.6.4
tokenize-rt==3.2.0
pandas==0.22.0
PyYAML==3.13
Pillow==4.3.0
pygame==1.9.3
PyOpenGL==3.1.0
pytest==5.4.1
pytest-cov==2.8.1
pytest-rerunfailures==7.0
pytz==2020.1
zipp==2.1.0
tensorflow==1.11
