<!-- This is an example launch file for how a ROS application could use a h264_video_encoder -->

<launch>
    <!-- Custom Nodes would be launched here -->

    <arg name="config_file" default="$(find h264_video_encoder)/config/sample_configuration.yaml"/>

    <include file="$(find h264_video_encoder)/launch/h264_video_encoder.launch" >
        <!-- The configuration can either be passed in using the "config_file" parameter or by using a rosparam tag
                to load the config into the parameter server -->
        <arg name="config_file" value="$(arg config_file)"/>
    </include>
</launch>
