<!-- This is an example launch file for how a ROS application could use a kinesis_video_streamer -->

<launch>
    <!-- Custom Nodes would be launched here -->

    <arg name="node_config_file" default="$(find kinesis_video_streamer)/config/node_sample_configuration.yaml"/>
    <arg name="stream_config_file" default="$(find kinesis_video_streamer)/config/stream_sample_configuration.yaml"/>

    <include file="$(find kinesis_video_streamer)/launch/kinesis_video_streamer.launch" >
        <!-- The configuration can either be passed in using the "node_config_file" and "stream_config_file" parameters
         or by using a rosparam tag to load the config into the parameter server -->
        <arg name="node_config_file" value="$(arg node_config_file)"/>
        <arg name="stream_config_file" value="$(arg stream_config_file)"/>
    </include>

    <include file="$(find h264_video_encoder)/launch/sample_application.launch" />
</launch>
