<?xml version="1.0"?>
<launch>
  <arg name="world_name" />
  <arg name="gui" default="false" />
  <arg name="kinesis_video_stream_names" />
  <arg name="kinesis_video_stream_region" default="us-east-1" />
  <arg name="racecars_with_stereo_cameras" default="racecar" />
  <arg name="racecars_with_lidars" default="racecar" />
  <arg name="body_shell_types" />
  <arg name="simapp_versions" />
  <arg name="multicar" default="false" />
  <arg name="publish_to_kinesis_stream" default="false" />
  <arg name="make_required" default="true" />

  <include file="$(find deepracer_simulation_environment)/launch/racecar.launch" unless="$(arg multicar)" ns="/racecar">
    <arg name="racecar_name" value="racecar"/>
    <arg name="racecar_bitmask" value="0x01"/>
    <!-- Check the simapp version and assign appropriate xacro file -->
    <arg name="racecar_xacro_file" default="mit" if="$(eval str(simapp_versions).split(',')[0] == '1.0')"/>
    <arg name="racecar_xacro_file" default="confetti" if="$(eval str(simapp_versions).split(',')[0] == '2.0')"/>
    <arg name="kinesis_video_stream_name" value="$(eval kinesis_video_stream_names.split(',')[0])"/>
    <arg name="kinesis_video_stream_region" value="$(arg kinesis_video_stream_region)"/>
    <arg name="include_second_camera" value="$(eval 'racecar' in racecars_with_stereo_cameras.split(','))" />
    <arg name="include_lidar_sensor" value="$(eval 'racecar' in racecars_with_lidars.split(','))" />
    <arg name="body_shell_type" value="$(eval body_shell_types.split(',')[0])" />
    <arg name="publish_to_kinesis_stream" value="$(eval publish_to_kinesis_stream and len(kinesis_video_stream_names) > 0)" />
    <arg name="make_required" value="$(arg make_required)" />
  </include>

  <include file="$(find deepracer_simulation_environment)/launch/racecar.launch" if="$(arg multicar)" ns="/racecar_0">
    <arg name="racecar_name" value="racecar_0"/>
    <arg name="racecar_bitmask" value="0x01"/>
    <!-- Check the simapp version and assign appropriate xacro file -->
    <arg name="racecar_xacro_file" default="mit" if="$(eval str(simapp_versions).split(',')[0] == '1.0')"/>
    <arg name="racecar_xacro_file" default="confetti" if="$(eval str(simapp_versions).split(',')[0] == '2.0')"/>
    <arg name="kinesis_video_stream_name" value="$(eval kinesis_video_stream_names.split(',')[0])"/>
    <arg name="kinesis_video_stream_region" value="$(arg kinesis_video_stream_region)"/>
    <arg name="include_second_camera" value="$(eval 'racecar_0' in racecars_with_stereo_cameras.split(','))" />
    <arg name="include_lidar_sensor" value="$(eval 'racecar_0' in racecars_with_lidars.split(','))" />
    <arg name="body_shell_type" value="$(eval body_shell_types.split(',')[0])" />
    <arg name="publish_to_kinesis_stream" value="$(eval publish_to_kinesis_stream and len(kinesis_video_stream_names) > 0)" />
    <arg name="make_required" value="$(arg make_required)" />
  </include>

  <include file="$(find deepracer_simulation_environment)/launch/racecar.launch" if="$(arg multicar)" ns="/racecar_1">
    <arg name="racecar_name" value="racecar_1"/>
    <arg name="racecar_bitmask" value="0x02"/>
    <!-- Check the simapp version and assign appropriate xacro file -->
    <arg name="racecar_xacro_file" default="mit" if="$(eval str(simapp_versions).split(',')[1] == '1.0')"/>
    <arg name="racecar_xacro_file" default="confetti" if="$(eval str(simapp_versions).split(',')[1] == '2.0')"/>
    <arg name="publish_to_kinesis_stream" value="$(eval publish_to_kinesis_stream and len(kinesis_video_stream_names.split(',')) > 1)" />
    <arg name="kinesis_video_stream_name" value="$(eval kinesis_video_stream_names.split(',')[1] if len(kinesis_video_stream_names.split(',')) > 1 else '')"/>
    <arg name="kinesis_video_stream_region" value="$(arg kinesis_video_stream_region)"/>
    <arg name="include_second_camera" value="$(eval 'racecar_1' in racecars_with_stereo_cameras.split(','))" />
    <arg name="include_lidar_sensor" value="$(eval 'racecar_1' in racecars_with_lidars.split(','))" />
    <arg name="body_shell_type" value="$(eval body_shell_types.split(',')[1])" />
    <arg name="make_required" value="$(arg make_required)" />
  </include>

  <include file="$(find deepracer_simulation_environment)/launch/empty_world.launch">
    <arg name="world_name" value="$(find deepracer_simulation_environment)/worlds/$(arg world_name).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="make_required" value="$(arg make_required)" />
  </include>

  <node pkg="deepracer_simulation_environment" type="car_node.py" name="car_reset_node" args="1" output="screen" required="$(arg make_required)" unless="$(arg multicar)"></node>
  <node pkg="deepracer_simulation_environment" type="car_node.py" name="car_reset_node" args="2" output="screen" required="$(arg make_required)" if="$(arg multicar)"></node>

  <node pkg="deepracer_simulation_environment" type="kinesis_video_camera_node.py" name="kinesis_video_camera_node" args="1" output="screen" required="$(arg make_required)" unless="$(arg multicar)">
  </node>
  <node pkg="deepracer_simulation_environment" type="kinesis_video_camera_node.py" name="kinesis_video_camera_node" args="2" output="screen" required="$(arg make_required)" if="$(arg multicar)">
  </node>

  <node pkg="deepracer_simulation_environment" type="visualization_node.py" name="visualization_node" args="1" output="screen" unless="$(arg multicar)"></node>
  <node pkg="deepracer_simulation_environment" type="visualization_node.py" name="visualization_node" args="2" output="screen" if="$(arg multicar)"></node>

  <!-- Saving mp4 for each agent -->
  <node pkg="deepracer_simulation_environment" type="save_to_mp4.py" name="save_to_mp4" args="1" output="screen" required="$(arg make_required)" unless="$(arg multicar)"></node>
  <node pkg="deepracer_simulation_environment" type="save_to_mp4.py" name="save_to_mp4" args="2" required="$(arg make_required)" output="screen" if="$(arg multicar)"></node>

  <!-- Enable local web server for video streaming -->
  <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen" required="false"></node>

</launch>
