<?xml version="1.0"?>
<launch>
  <arg name="world_name" />
  <arg name="gui" default="false" />
  <arg name="simapp_versions" />
  <arg name="kinesis_video_stream_names" />
  <arg name="kinesis_video_stream_region" default="us-east-1" />
  <arg name="publish_to_kinesis_stream" default="true" />
  <arg name="make_required" default="true" />
  <arg name="body_shell_types"/>
  <arg name="kinesis_webrtc_signaling_channel_name" />

  <!-- NOTE: Setting publish_to_kinesis_stream as false for each individual car.
  Initialize one encoder and one kvs stream,
  but keep rotating the main_camera_topic that the stream consume from -->

  <!-- virtual event racecar will be spawn/delete in virtual_event_manager -->

  <!-- launch virtual event kvs stream encoder -->
  <include file="$(find deepracer_simulation_environment)/launch/h264_video_encoder.launch" if="$(arg publish_to_kinesis_stream)">
    <arg name="config_file" value="$(find deepracer_simulation_environment)/config/virtual_event/deepracer_rpi_h264_encoder_config.yaml" />
    <arg name="image_transport" value="raw" />
  </include>

  <!-- launch virtual event kvs hls stream -->
  <include file="$(find deepracer_simulation_environment)/launch/kinesis_video_streamer.launch" if="$(arg publish_to_kinesis_stream)">
    <arg name="node_config_file" value="$(find deepracer_simulation_environment)/config/deepracer_node_config.yaml" />
    <arg name="stream_config_file" value="$(find deepracer_simulation_environment)/config/virtual_event/deepracer_stream_config.yaml" />
    <arg name="kinesis_video_stream_name" value="$(eval kinesis_video_stream_names.split(',')[0])" />
    <arg name="kinesis_video_stream_region" value="$(arg kinesis_video_stream_region)" />
  </include>

  <!-- launch virtual event webrtc stream -->
  <include file="$(find kinesis_webrtc_streamer)/launch/kinesis_webrtc_streamer.launch" if="$(arg publish_to_kinesis_stream)">
    <arg name="kinesis_webrtc_stream_region" value="$(arg kinesis_video_stream_region)"/>
    <arg name="kinesis_webrtc_signaling_channel_name" value="$(arg kinesis_webrtc_signaling_channel_name)" />
    <arg name="make_required" value="$(arg make_required)"/>
  </include>

  <!-- launch virtual event video editor node for stream and mp4 -->
  <node pkg="deepracer_simulation_environment" type="virtual_event_video_editor.py" name="virtual_event_video_editor_node" output="screen" required="$(arg make_required)"></node>

  <!-- launch virtual event track environment-->
  <include file="$(find deepracer_simulation_environment)/launch/empty_world.launch">
    <arg name="world_name" value="$(find deepracer_simulation_environment)/worlds/$(arg world_name).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="make_required" value="$(arg make_required)" />
  </include>

  <!-- webrtc message processor node to reading the incoming car control messages -->
  <node pkg="deepracer_simulation_environment" type="car_control_webrtc_msg_node.py" name="car_control_webrtc_node" output="screen" required="$(arg make_required)"></node>
  <node pkg="deepracer_simulation_environment" type="visualization_node.py" name="visualization_node" args="1" output="screen"></node>
</launch>
